/* Ejercicio css-01 */
.heading1 {
  color:aqua;
}
.heading2 {
  color:blue;
}
.heading3 {
  color: blueviolet;
}
.heading4 {
  color:red
}
.heading5 {
  color: orange;
}
.heading6 {
  color: palevioletred;
}


