/* Índice de Ejercicios */
.index-body{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #78cef8;
}
.exercises-title{
  text-align: center;
}
.text-exercises{
  background-color: #a6d8f1;
  width: 90%;
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 25px;
}
.exercises-container{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}
.css-exercises{
  background-color: #a6d8f1;
  width: 90%;
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 25px;
}
.card{
  width: 200px;
  padding: 20px;
  border: 1px solid;
  border-radius: 25px;
}

/* Ejercicio css-01 */
.heading1 {
  color:aqua;
}
.heading2 {
  color:blue;
}
.heading3 {
  color: blueviolet;
}
.heading4 {
  color:red
}
.heading5 {
  color: orange;
}
.heading6 {
  color: palevioletred;
}

/* Ejercicio css-02 */
.strong-tag {
  color: #3a0080;
  font-size: 30px;
  font-weight: 100;
  z-index: 2;
}
.strong-tag_bold {
  font-weight: 800;

}
.overline {
  border-top: 1px solid black;
  display: inline-block;
  line-height: 0.20px;
  z-index: 1;
}

/* Ejercicio css-03 */
.text-size-small{
  font-size: 12px;
}
.text-size-regular{
  font-size: 30px;
}
.text-size-large{
  font-size: 50px;
}
.custom-text-blue{
  color: blue;
  position: relative;
  top: 30px;
}
.custom-text-green{
  position: relative;
  color:forestgreen;
  bottom: 10px;
}

.custom-height-up{
  position: relative;
  bottom: 10px;
}
.custom-height-down{
  position: relative;
  top: 10px;
}

/* Ejercicio css-04 */
.main-container{
  background-color: #d4dadd;
  font-family: Arial, Helvetica, sans-serif;
}
.title-center{
  text-align: center;
  text-transform: uppercase;
  color: #343b3f;
}
.title-background{
  background-color: #7a919e;
  color: #36363c99;
  text-decoration: underline;
}
.subtitle-background{
  background-color:#99a9b3;
  color: #5f6f79;
}
.text-background{
  background-color: #b5c2ca;
}
.background-light{
  background-color: white;
  text-align: end;
  font-weight: bold;
}
.font-style-italic{
  font-style: italic;
}
/* Ejercicio css-05 */
.main-background{
  background-color: #d4dadd;
  padding: 10px 20px;
  font-family: Arial, Helvetica, sans-serif;
}
.title-style{
  font-size: 40px;
  text-align: center;
  letter-spacing: 15px;
}
.subtitle-style{
  padding: 5px;
  background-color: gray;
  color: white;
  font-size: 25px;
}

.image-container {
  display: flex;
  float: left;
}

.image-caption{
font-size: 15px;
color: lightgoldenrodyellow;
margin-left: 10px;
}
.text-red{
  color: red;
  font-style: italic;
}

.text-style{
position: relative;
top: 50px;
right: 120px;
text-indent: 20px;
}
.article-formatted{
  height: auto;
  min-height: 200px;
}

/* Ejercicio css-06 */
.main-exercise-6{
  background-color: #c7e8f9;
  font-family: Arial, Helvetica, sans-serif;
}
.title-exercise-6{
  text-align: center;
  text-transform: uppercase;
  text-decoration: underline;
}
.subtitle-exercise-6{
background-color: #4eb7eb;
}
.poem-exercise-6{
  font-style: italic;
}